* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  font: normal 15px helvetica, sans-serif;
}
.container {
  max-width: 500px;
  background-color: #fff;
  box-shadow: 0px 2px 2px 1px;
  border: none;
  border-radius: 4px;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  padding: 20px 40px;
  text-align: left;
}

h1 {
  font-weight: 600;
  font-size: 1.5em;
  padding: 0.5em 0;
}
hr {
  width: 100%;
  margin: 0;
  padding: 0;
}
.form {
  padding: 1em 0;
}

input {
  margin: 12px 6px;
  padding: 7px 12px;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  outline: none;
}
div.email input,
div.password input,
div.comfirm input {
  width: 95%;
}
span.first input,
span.last input {
  width: 45%;
}

.button {
  margin: 6px;
  border: none;
  color: #fff;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  text-align: center;
  border-radius: 4px;
}
.button:hover {
  background-color: rgb(107, 107, 231);
  transform: scale(1);
}
p {
  color: grey;
  padding: 0.3em 0;
}
.checkbox a {
  text-decoration: none;
  font-size: 12px;
  color: #3598dc;
  padding-left: 0.5rem;
}
.login {
  margin-left: 5px;
  padding: 0;
}
.text {
  color: #fff;
  text-align: center;
}
a {
  color: #fff;
}

@media (max-width: 765px) {
  .flex {
    width: 90%;
  }
}

@media (max-width: 500px) {
  div.email input,
  div.password input,
  div.comfirm input {
    width: 90%;
  }
  span.first input,
  span.last input {
    width: 90%;
  }
}
