* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

img {
  max-width: 100%;
}
.container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 10px;
  margin: 0 auto;
  line-height: 1.7;
  letter-spacing: 2;
  word-spacing: 2;
}
.nav-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  color: green;
  text-align: center;
}
/* .head {
  color: green;
  text-align: center;
} */

.recent-blog,
.other-post {
  grid-column: 1/2;
  background-color: #fff;
  box-shadow: 3px 0 1px 2px solid #fff;
  margin: 20px;
}
.recent-blog,
.other-post,
.right-side {
  padding: 0 0 30px 0;
}
.recent-blog h2,
p,
.other-post h2,
p,
.right-side h2,
p {
  padding: 5px;
  padding-left: 20px;
}
.right-side {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: #fff;
  box-shadow: 3px 0 1px 2px solid #fff;
  margin: 20px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}
.other-post img,
.right-side img {
  width: 100%;
  height: fit-content;
}
h1,
h2,
h3 {
  text-transform: uppercase;
}
.header p {
  font-size: 18px;
  color: #333;
}

a {
  text-decoration: none;
  color: green;
  border: 1px solid green;
  border-radius: 4px;
  padding: 10px;
  margin: 20px;
  text-transform: uppercase;
}
.popular-post {
  background-color: #fff;
  box-shadow: 3px 0 1px 2px solid #fff;
  margin: 20px;
}
