@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 100%, 74%);
  background-image: url("../images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
}
.container {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  margin: 50px auto;
  padding: 40px;
  line-height: 1.6;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
}
.left {
  width: 350px; 
  margin: 40px 90px 0 0;
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
.left > p {
  color: #eee;
} 
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
h3 {
  background-color: hsl(248, 32%, 49%);
  padding:10px 20px;
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
}
 form {
   background-color: #fff;
   width: 500px;
   box-shadow: 0 3px 1px 7px;
   border-radius: 8px;
   margin: 30px auto;
   padding: 20px;
 }
  input {
    margin: 10px 0;
    padding-left: 8px;
    width: 100%;
    height: 45px;
    border: 1px solid #eee;
    border-radius: 4px;
  }
.submit {
  background-color: hsl(154, 59%, 51%);
  color: #fff;
  box-shadow: 0 1px 0px 1px rgba(2, 95, 2, 0.76);
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
small {
  color: #ccc;
  text-align: center;
}
a {
  text-decoration: none;
  color: red;
}
.attribution {
  color: turquoise;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 23rem;
}
.attribution>a {
  text-decoration: none;
  color: red;
}
 @media (max-width: 768px) {
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
  }
  .left {
    width: 40%;
    margin: 50px 20px 20px;
    padding: 20px 0;
    justify-content: center;
    text-align: center;
  }
  .right {
    width: 80%;
  }
  h1 {
    font-size: 1.5rem;
    margin: 20px auto;
  }
  h3 {
    width: 80%;
  }
  form {
   width: 80%;
  }
  .submit {
    font-size: 1rem;
  }
  small {
    font-size: 12px;
  }
  .attribution {
   position: absolute;
   bottom: 0;
   right: 0;
   left: 14rem;
   text-align: center;
 }
  
 }
 @media (max-width: 568px) {
  .container {
    margin: 20px auto;
    padding: 20px;
    line-height: 1.6;
  }
   .flex {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   .left {
     margin: 0 30px;
     justify-content: center;
     text-align: center;
     width: 100%;
   }
   h3 {
     width: 100%;
   }
   form {
    width: 100%;
   }
   .submit {
     font-size: 14px;
     text-align: center;
     padding-right: 8px;
   }
   small {
     font-size: 12px;
   }
   .attribution {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
  }
 }
 






Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)

### Accent

- Blue: hsl(248, 32%, 49%)

### Neutral

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%)