* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  color: var(--Grayish-Blue);
  line-height: 1.6;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--Grayish-Blue);
}
h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.2;
  color: #333;
}
p {
  margin: 10px 0;
}
/*Navbbar*/
.navbar {
  width: 100%;
  background-color: var(--White);
  height: 70px;
  position: fixed;
  top: 0;
}
.navbar ul {
  display: flex;
}
.navbar a {
  padding: 10px;
  margin: 0 5px;
}
.navbar a:hover {
  border-bottom: 2px solid var(--Lime-Green);
}
.navbar .btn {
  padding: 12px 25px;
}
.navbar .flex {
  justify-content: space-between;
}
.second-nav {
  display: none;
  background-color: var(--White);
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  max-width: 300px;
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 1px 1px 1px;
}
.second-nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.second-nav ul li {
  margin: 0 5px;
  padding: 10px;
}
.btn {
  border: none;
  border-radius: 50px;
  padding: 15px 25px;
  background-image: linear-gradient(
    to right,
    var(--Lime-Green),
    var(--Bright-Cyan)
  );
  color: var(--White);
  font-size: 12px;
}
img {
  max-width: 100%;
  object-fit: cover;
}
/*Showcase*/
.showcase-text h1 {
  font-weight: 500;
  font-size: 4rem;
}
.showcase-text {
  padding-right: 40px;
}
/*Utilities*/
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.showcase-image img {
  width: 50rem;
  background-image: url("images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.showcase-image {
}
.showcase-2 {
  background-color: var(--Light-Grayish-Blue);
}

.showcase-2-text {
  display: grid;
  grid-template-columns: 50%;
  padding-top: 40px;
}
.showcase-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 30px auto;
}
.grid-3 {
  margin: 20px;
  padding: 30px 0;
  text-align: center;
}
.grid-3 h1 {
  text-align: left;
}
.bg-white {
  background-color: var(--White);
  border-radius: 4px;
  box-shadow: 0 0 1px 0;
  border: none;
}
.grid-3 img {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.text {
  padding: 10px;
  margin: 5px auto;
  text-align: left;
}
.text a {
  text-transform: uppercase;
  color: #333;
  font-size: 14px;
}
.text a:hover {
  color: var(--Lime-Green);
}
.footer {
  background-color: rgb(2, 2, 44);
}
.bg-dark {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}
.bg-dark img {
  color: var(--White);
  margin-top: 15px;
}
.icons img {
  padding: 25px 0;
  margin: 10px 10px 10px 0;
  font-size: 1.5rem;
}
.footer-logo img:hover {
  color: var(--Lime-Green);
}
.footer ul li {
  margin-right: 20px;
  padding: 10px 0;
  font-size: 12px;
}
.footer ul li a {
  color: var(--Light-Grayish-Blue);
}
.footer ul li a:hover {
  color: var(--Lime-Green);
  cursor: pointer;
}
.copyright {
  justify-self: end;
  margin-top: 10px;
}
.copyright,
a,
p {
  padding: 15px 0;
}

.ham-image {
  display: none;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 868px) {
  .showcase-text h1 {
    font-weight: 500;
    font-size: 2rem;
  }

  .showcase-2-text {
    grid-template-columns: 100%;
    text-align: center;
    justify-self: justify;
  }
  .grid-2,
  .showcase-grid {
    grid-template-columns: 50% 50%;
  }
  .grid,
  .grid-2 {
    text-align: center;
    margin-top: 50px;
  }
  .bg-dark {
    display: flex;
    text-align: left;
    margin: 0 auto;
    padding: 0 10px;
  }
  .footer-logo {
    padding: 0 10px;
  }
  .copyright {
    justify-self: center;
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .navbar ul,
  .button {
    display: none;
  }
  .ham-image {
    display: flex;
  }
  .showcase-text h1 {
    font-weight: 500;
    font-size: 2rem;
  }
  .navbar ul {
    padding: 10px;
  }
  .grid {
    display: flex;
    flex-direction: column-reverse;
  }
  .showcase-image img {
    width: 40rem;
    background-image: url("images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  .showcase-grid,
  .showcase-2-text {
    grid-template-columns: 100%;
  }
  .bg-dark {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.displayNav {
  display: block;
}
